/* SMALL CC CARD DISPLAY */

.cardGrid{

display:flex;

flex-wrap:wrap;

gap:10px;

}



.ccCard{

width:150px;

height:190px;

background:#292929;

border:3px solid #555;

border-radius:10px;

padding:10px;

font-size:13px;

}



.ccCard h3{

font-size:16px;

margin:5px 0;

}




/* RARITY COLOURS */


.rarity-common{

border-color:#999;

}


.rarity-uncommon{

border-color:#00cc44;

}


.rarity-rare{

border-color:#3399ff;

}


.rarity-legendary{

border-color:#ffd700;

box-shadow:0 0 10px gold;

}


.rarity-mythical{

border-color:red;

box-shadow:0 0 10px red;

}


.rarity-secret{

border-color:#8a2be2;

box-shadow:0 0 15px purple;

}


.rarity-obstratick{

border-color:#ff00ff;

background:
linear-gradient(
45deg,
red,
orange,
yellow,
green,
blue,
purple
);

color:white;

}